body {
    margin: 0;
    font-family: TitilliumWeb, "Arial", sans-serif;
}

.firstslide {
    height: 600px;
    background-color: #87509c;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 60px 210px 0;
    
}

.menu ul {
    display: flex;
    color: white;
}

.menu a {
    margin-right: 10px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;   
}
.menu li:last-child a {
    margin-right: 0;
}

.menu a:hover {
    background-color: #643a79;
}
.menu li {
    list-style-type: none;
}

.title1 p {
    font-size: 43px;
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
    color: white;
}